
.form-size1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      /* min-height: 100vh; */ */
      /* background-color: aquamarine; */ */
      height: 2000px;
      width: 2000px;
      align-content: center;
}
